@font-face {
  font-family: "Rubik";
  src: url("../gfx/fonts/Rubik/Rubik-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Dosis";
  src: url("../gfx/fonts/Dosis/Dosis-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}
