.breadcrumbs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1em 0;

  @include mobile {
    line-height: 1em;
  }

  &__item {
    padding-right: 6px;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 400;
    color: $color-black-lite;

    &:not(:last-child):after {
      content: "\00BB";
      margin-left: 6px;
    }
  }
}
