.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;

    &__logo {
        &__img {
            width: 200px;
        }
    }

    &__menu {
        list-style: none;
        margin: 24px 0;
        display: flex;
    
        &-item {
            margin-left: 20px;
        }
    
        &-link {
            color: $color-white;
            text-decoration: none;
            
            &:hover {
                color: $color-gray;
            }
        }
    }
}