.section {
  width: 100%;
  overflow: hidden;

  &--black {
    background-color: $color-black-lite;
    color: $color-white;
  }

  &--gray {
    background-color: $color-gray;
  }

  &--nav {
    position: fixed;
    z-index: 99;
  }

  &--first {
    padding-top: 70px;
  }

  &--last {
    padding-bottom: 35px;
  }

  &--products {
    margin-bottom: 50px;
  }

  &--menu {
    z-index: 9;
    background-color: $color-white;
    display: none;

    &.active {
      display: block;
    }
  }

  &__horizontal-line {
    display: block;
    width: 100%;
    border-top: 1px solid $color-gray-lite;
  }
}
