.title {
  padding: 50px 0;
  text-align: center;

  &__uppercase {
    text-transform: uppercase;
    font-size: 2.1rem;
    font-weight: 200;
    margin: 0 0 20px 0;
    letter-spacing: 5px;

    &--bold {
      font-weight: 700;
    }

    &--no-margin {
      margin: 0;
    }
  }

  &__subtitle {
    margin: 0;
    font-style: italic;
  }

  @include tablet {
    padding: 40px 0;

    &__uppercase {
      font-size: 2rem;
    }
  }

  @include mobile {
    padding: 25px 0;

    &__uppercase {
      font-size: 1.7rem;
    }
  }
}
