.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    @include mobile-wild {
        font-size: .8em;
    }

    &__link {
        text-decoration: none;
        color: $color-white;
        font-weight: 500;
        padding: 25px 0;
        transition: text-decoration .5s;

        &:hover {
            text-decoration: underline;
            transition: text-decoration .5s;
        }
    }

    &--copyright {
        font-size: 1rem;

        & a {
            color: $color-white;
        }
        
        @include mobile-wild {
            font-size: 0.7rem;
        }
    }
}