.section {
    width: 100%;
    overflow: hidden;

    &--black {
        background-color: $color-black;
        color: $color-white;
    }

    &--gray {
        background-color: $color-gray;
    }

    &--products {
        margin-bottom: 50px;
    }
}